h1, h2 {
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
}

.navbar-toggler, .navbar-toggler-icon {
    background-color:#333;
    margin: auto;
}

.navbar-nav {
    align-items: center;
}

.nav-link {
    font-size:20px;
}

.lpink {
    background-color: #d87e9c;
}

.dpink {
    background-color: #c84771;
}

.sercol {
	background-color: #dddddd;
}

.gradient-1, .gradient-2 {
    background-image: linear-gradient(#d0d0d0, white);
    background-color: #d0d0d0;
    height: 100%;
    text-align: center;
}

.gradient-3 {
    background-image: linear-gradient(white,#d0d0d0);
    background-color: white;
}

.pnkbtn {
    background-color: #C84771;
    text-align: center;
    width: 70%;
    padding: 15px;
    color: white;
    border-radius: 14px;
    border: none;
    margin: 20px 0;
}

.maxwth {
    max-width: 100%;
}

hr.solid {
    border-top: 3px solid #bbb;
    margin: 30px 0;
}

.margin90 {
    width: 90%;
    margin: auto;
}

.justify {
    text-align: justify;
}

@media screen and (max-width: 768px) {
    .gradient-2 {
        background-image: linear-gradient(white,#d0d0d0);
        background-color: white;
    }
}
