/* CSS by Clodagh Byrne */

.btn-primary{
	background-color:#C84771;
	border-color:#C84771;
	text-align: center;
}
.btn-primary:hover{
  background-color: #D87E9C;
  border-color:#C84771;
  color: white;
}
.row1{
	
	margin:80px;
	width:90%;

	display:flex;
	container:fluid;
}
.row2{
	margin:80px;
	width:90%;
	
	display:flex;
}
.row3{
	margin:80px;
	width:90%;

	display:flex;
}
.maxwth {
    max-width: 100%;
}
hr.solid {
    border-top: 3px solid #bbb;
    margin: 30px 0;
}

.margin90 {
    width: 90%;
    margin: auto;
}

.justify {
    text-align: justify;
}
.border-dpink{
	border-color:#c84771;
}

.daycarePic{
	margin-left:80px;
	margin-right:80px;	
	float:left;
	width:25%;
}
.washPic{
	margin-left:80px;
	margin-right:80px;	
	float:right;
	width:25%;
}
.bedPic{
	margin-left:80px;
	margin-right:80px;	
	float:left;
	width:25%;
}

/*Required for header*/
.nav-link {
    font-size:20px;
}

.lpink {
    background-color: #d87e9c;
}

.dpink {
    background-color: #c84771;
	color: #c84771;
}

.sercol {
	background-color: #dddddd;
}
.gradient-1 {
    background-image: linear-gradient(#d0d0d0, white);
    background-color: #d0d0d0;
    height: 100%;
}

.gradient-2 {
    background-image: linear-gradient(white,#d0d0d0);
    background-color: white;
    height: 100%;
}

.text-dpink{
	color: #c84771;
}

.service-item a i {
    position: relative;
    padding-left: 20px;
    transition: .3s;
}

.service-item a:hover i {
    padding-left: 50px;
}

.service-item a i::after {
    position: absolute;
    width: 20px;
    height: 2px;
    top: 50%;
    left: 10px;
    margin-top: -1px;

    transition: .3s;
}

.service-item a:hover i::after {
    width: 50px;
}
