/* CSS by Clodagh Byrne */
.btn-primary{
	background-color:#C84771;
	border-color:#C84771;
	color:white;
	text-align:center;
	font-weight:bold;
}
.btn-primary:hover{
  background-color:#D87E9C;
  border-color:#C84771;
  color:white;
  text-decoration:bold;
}
.border1{
	margin:20px;
	border-color:#D87E9C;
}
.row1{
	margin:20px;
	border:10px;
	width:90%;
	text-align:left;
	display:flex;
	container:fluid;
	background-color:#D87E9C;
	background-image:linear-gradient(#D87E9C, white);
  	height: 100%;
}
.row2{
	margin:20px;
	width:90%;
	text-align:left;
	display:flex;
	container:fluid;
	background-color:#D87E9C;
	background-image: linear-gradient(white, #D87E9C);
    	height: 100%;
}
.container{
	margin:20px;
	border-color:#D87E9C;
}
.container1{
	margin:20px;
	border-color:#D87E9C;
}
.container2{
	margin:20px;
	border-color:#D87E9C;
}
a:hover{
	color:black;
	text-decoration:underline;
}
a:active{
	color:pink;
	text-decoration:underline;
}
/*Required for header*/
.nav-link {
    font-size:20px;
}
.lpink {
    background-color:#d87e9c;
}
.dpink {
    background-color:#c84771;
	color:#c84771;
}
.sercol {
	background-color:#dddddd;
}
.gradient-1 {
    background-image: linear-gradient(#d0d0d0, white);
    background-color:#d0d0d0;
    height:100%;
}
.text-dpink{
	color:#c84771;
}
.navbar-toggler, .navbar-toggler-icon {
	background-color:#333;    
	margin:auto;
}
.nav-link {
    font-size:20px;
    font-weight:600;
}
